<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>practiceTabBarController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>329AE4E71C3E85D300A11EBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>329AE4FB1C3E85D300A11EBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>329AE5061C3E85D300A11EBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
